<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
    <% include ./partials/navbar.ejs %>
        <div class="container-fluid">
            <div class="row ti-table">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            Name
                        </div>
                        <div class="col-md-1">
                            Qty
                        </div>
                        <div class="col-md-1">
                            Min
                        </div>
                        <div class="col-md-5">
                            Actions
                        </div>
                    </div>
                    <% for (var i = 0; i < tools.length; i++) { %>
                        <div class="row">
                            <div class="col-md-5">
                                <a href="/view/?toolId=<%= tools[i]._id %>">
                                    <p>
                                        <%= tools[i].toolName %>
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a href="/view/?toolId=<%= tools[i]._id %>">
                                    <p><span>Qty: </span>
                                        <%= tools[i].qty %>
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a href="/view/?toolId=<%= tools[i]._id %>">
                                    <p><span>Min: </span>
                                        <% if(!tools[i].autoOrderQty) { %>
                                            None
                                            <% } %>
                                                <%= tools[i].autoOrderQty %>
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-5">
                                <div>
                                    <a class="btn btn-primary" href="/edit/?toolId=<%= tools[i]._id %>">Edit</a>
                                    <a class="btn btn-primary" href="/checkout/?toolId=<%= tools[i]._id %>">Checkout</a>
                                    <a class="btn btn-primary" href="/add/?toolId=<%= tools[i]._id %>">Add Qty</a>
                                    <a class="btn btn-danger" href="/remove/?toolId=<%= tools[i]._id %>" onclick="return confirm('Are you sure you want to remove tool?')">Remove Tool</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% if (tools.length === 0) { %>
                                <div class="panel panel-danger">
                                    <div>
                                        <h1>There are no tools yet.</h1>
                                        <a href="/add-tool" class="btn btn-primary">Add Your First Tool</a>
                                    </div>
                                </div>
                                <% } %>
                </div>
                <script src="bower_components/jquery/dist/jquery.min.js"></script>
                <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>