<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../styles.css" rel="stylesheet">
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top __web-inspector-hide-shortcut__">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ToolingInventory.com</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (!isAuthenticated) { %>
                <li><a href="/sign-up">Try It Free</a></li>
                <li><a href="/login">Log in here</a></li>
            <% } else { %>
                        <p class="hello">Hello, <%= user.username %> from <%= user.companyName %>
                        <a class="btn btn-danger" href="/logout">Log Out</a>
                        <a class="btn btn-default" href="/production">Production</a>
            <% } %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
    <% if (!isAuthenticated) { %>
            <h3 class="text-center">Not Logged in</h3>
    </div>
<nav class="navbar navbar-inverse footer-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CloudCrib.io</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            
                <li><a href="/sign-up">Sign Up</a></li>
                <li><a href="/login">Log in here</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <% }  %>
    <% if (isAuthenticated) { %>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="/my-account" class="btn btn-primary user-nav-btn active">My Account</a>
                    <a href="/toolsCSV" class="btn btn-default user-nav-btn">Download Tool List</a>
                    <a href="/checkoutsCSV" class="btn btn-default user-nav-btn">Download Tool Usage</a>
                    <a href="/" class="btn btn-default view-checkouts-btn active hidden-xl hidden-lg hidden-md hidden-sm user-nav-btn">Main Menu</a>
                    <a href="/view-checkouts" class="btn btn-default view-checkouts-btn hidden-xl hidden-lg hidden-md hidden-sm user-nav-btn">View Checkouts</a>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <a href="/add-tool" class="btn btn-primary pull-right view-checkouts-btn">Add Tool</a>
                    <a href="/view-checkouts" class="btn btn-default pull-right view-checkouts-btn">View Checkouts</a>
                    <a href="/view-jobs" class="btn btn-default pull-right view-checkouts-btn">View Jobs</a>
                    <a href="/view-operators" class="btn btn-default pull-right view-checkouts-btn">View Operators</a>
                    <a href="/" class="btn btn-default pull-right view-checkouts-btn">Tool List</a>
                    <!--<a href="/auto-order" class="btn btn-default pull-right ">Auto Order</a>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <div class="row settings-row">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center">Account Dashboard</h3>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Settings</div>
                                    <div class="panel-body">
                                            <% if(accountUpdated == false) { %>
                                                <div class="alert alert-danger" role="alert">
                                                    <p class="text-center">Update Failed</p>
                                                </div>
                                            <% } else if (accountUpdated == true) { %>
                                                <div class="alert alert-success" role="alert">
                                                    <p class="text-center">Successfully Updated</p>
                                                </div>            
                                            <% } else if (accountUpdated == null) { %> 
                                            
                                            <% } %>
                                        <form action="" method="POST">
                                            <div class="form-group">
                                                <label>Company Name: </label>
                                                <input class="form-control" name="companyName" value="<%= user.companyName %>">
                                            </div>
                                            <div class="form-group">
                                                <label>User Name: </label>
                                                <input class="form-control" name="username" value="<%= user.username %>">
                                            </div>
                                            <div class="form-group">
                                                <label>Password: </label>
                                                <input class="form-control" name="password" value="<%= user.password %>" type="password">
                                            </div>
                                            <div class="form-group">
                                                <label>Re-Enter Password: </label>
                                                <input class="form-control" name="re-enterPassword" type="password">
                                            </div>
                                            <input type="submit" value="Update">
                                        </form>
                                    </div>
                                </div>
                            </div><!-- end col-md-4 -->
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Add Operator</div>
                                    <div class="panel-body">
                                            <% if(addOperator == false) { %>
                                                <div class="alert alert-danger" role="alert">
                                                    <p class="text-center">Update Failed</p>
                                                </div>
                                            <% } else if (addOperator == true) { %>
                                                <div class="alert alert-success" role="alert">
                                                    <p class="text-center">Successfully Updated</p>
                                                </div>            
                                            <% } else if (addOperator == null) { %> 
                                            
                                            <% } %>
                                        <form action="/add-operator" method="POST">
                                            <div class="form-group">
                                                <label>Operator Name: </label>
                                                <input class="form-control" name="operatorName">
                                            </div>
                                            <div class="form-group">
                                                <label>Operator Id: </label>
                                                <input class="form-control" name="operatorId">
                                            </div>
                                            <input type="submit" value="Update">
                                        </form>
                                    </div>
                                </div>
                            </div><!-- end col-md-4 -->
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Active Job</div>
                                    <div class="panel-body">
                                            <% if(addedJob == false) { %>
                                                <div class="alert alert-danger" role="alert">
                                                    <p class="text-center">Add Job Failed</p>
                                                </div>
                                            <% } else if (addedJob == true) { %>
                                                <div class="alert alert-success" role="alert">
                                                    <p class="text-center">Successfully Added Job</p>
                                                </div>            
                                            <% } else if (addedJob == null) { %> 
                                            
                                            <% } %>
                                        <form action="/add-job" method="POST">
                                            <div class="form-group">
                                                <label>Company Name: </label>
                                                <input class="form-control" name="companyName">
                                            </div>
                                            <div class="form-group">
                                                <label>Job Name: </label>
                                                <input class="form-control" name="jobName">
                                            </div>
                                            <div class="form-group">
                                                <label>Contact Name: </label>
                                                <input class="form-control" name="contactName">
                                            </div>
                                            <div class="form-group">
                                                <label>Contact Email: </label>
                                                <input class="form-control" name="contactEmail">
                                            </div>
                                            <div class="form-group">
                                                <label>Due Date: </label>
                                                <input class="form-control" type="date" name="dueDate">
                                            </div>
                                            <div class="form-group">
                                                <label>Job Id: </label>
                                                <input class="form-control" type="number" name="jobId">
                                            </div>
                                            <div class="form-group">
                                                <label>Qty Due: </label>
                                                <input class="form-control" name="qtyDue">
                                            </div>
                                            <input type="submit" value="Update">
                                        </form>
                                    </div>
                                </div>
                            </div><!-- end col-md-4 -->
                        </div>
                    <% } %>
                </div>
            </div>
            
        </div>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../js/app.js"></script>
        
        

        
    </body>
</html>