<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77516816-1', 'auto');
  ga('send', 'pageview');

</script>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <style>
            * {
                font-family: 'Roboto', sans-serif !important;
            }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top __web-inspector-hide-shortcut__">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/production">ToolingInventory.com</a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
              <p class="hello">Hello, <%= user.username %> from <%= user.companyName %>
              <a class="btn btn-danger" href="/logout">Log Out</a>
              <a class="btn btn-default" data-toggle="modal" data-target="#myModal">Admin</a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
    <% if (isAuthenticated) { %>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8 hidden-xs">
                    <a href="/view-jobs-production" class="btn btn-default pull-right view-checkouts-btn">View Jobs</a>
                    <a href="/" class="btn btn-default pull-right view-checkouts-btn active">Tool List</a>
                    <!--<a href="/auto-order" class="btn btn-default pull-right ">Auto Order</a>-->
                </div>
            </div>
            <div class="row">
  <div class="panel tools-list-panel panel-default">
    <div class="panel-heading">Tool List</div>
    <div class="panel-body ">
        <div class="row">
                <div class="col-md-12">
                        <div id="users">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <div id="status-area">
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="row newsearch">
                                <div class="col-md-6">
                                    <form class="form-wrapper cf">
                                      	<input class="search production-search" type="text" placeholder="Search here..." required>
                                    	  <button class="search-flag" type="submit" disabled>Search</button>
                                    </form>
                                </div>
                            </div>
                            
                            <!--<div class="row">-->
                            <!--    <div class="col-md-6">-->
                            <!--        <div class="form-wrapper cf">-->
                            <!--            <input class="search form-control production-search" placeholder="Search" />-->
                            <!--            <button type="submit">Search</button>-->
                            <!--        </div>-->

                            <!--    </div>-->
                            <!--</div>-->
                            <div class="list">
                                <% for (var i=0; i<tools.length; i++) {%>
                                    <div class="row tools-row">
                                        <div class="col-md-6">
                                            <a href="/view/?toolId=<%= tools[i]._id %>" class="table-link"><p class="table-value name"><%= tools[i].toolName %></p></a>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="/view/?toolId=<%= tools[i]._id %>" class="table-link"><p class="table-value"> Qty: <%= tools[i].qty %> </p></a>
                                        </div>
                                        <div class="col-md-4">
                                            <a class="btn btn-success  table-btn production-checkout-btn" href="/checkout-production/?toolId=<%= tools[i]._id %>">Checkout</a>
                                        </div>
                                    </div>
                                <% } %>
                                <!-- Go back to this hacky as f -->
                                <div style="display:none;">
                                  <!-- A template element is needed when list is empty, TODO: needs a better solution -->
                                  <li id="hacker-item">
                                   <h3 class="name"></h3>
                                   <p class="city"></p>
                                  </li>
                                </div>
                            </div>

                        </div><!-- end table responsive-->
                    
                    <% } %>
                </div>   
        </div>
    </div>
  </div>

            </div>
            
        </div>
    </div>
    
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog model-dialog-admin">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Admin Login</h4>
      </div>
      <form class="productionLogin">
      <div class="modal-body" id="admin-modal">
        <div class="form-group">
            <label>Username:</label>
            <input id="adminUsername" class="form-control">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input id="adminPassword" class="form-control" type="password">
        </div>
        <button type="submit" class="btn btn-primary" id="adminSubmit">Log In</button>
        <button type="button"  class="btn btn-default pull-right" data-dismiss="modal">Close</button>
      </div>
      </form>
     
    </div>

  </div>
</div>
    
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/list.js/dist/list.min.js"></script>
        <script>
            $(document).ready(function(){
                
            var options = {
              valueNames: [ 'name', 'material' ]
            };
            
            
            var userList = new List('users', options);
            
            
            
                function authenticate(userName, password) {
                    var adminFormData = {
                        userName: userName,
                        password: password
                    }
                    $.ajax
                    ({
                        type: "POST",
                        //the url where you want to sent the userName and password to
                        url: '/adminAuthenticate',
                        dataType: 'json',
                        async: false,
                        //json object to sent to the authentication url
                        data: adminFormData,
                        success: function (returnObj) {
                
                            console.log(returnObj.isAuthenticated);
                            if (returnObj.isAuthenticated) {
                                window.location.href= '/';
                            } else {
                                //window.location.href= '/production';
                                $('#myModal').modal('hide');
                                $('#status-area').flash_message({
                                    text: 'Wrong Username or Password!',
                                    how: 'append'
                                });
                            
                            }
                        }
                    });
                }
                $('#adminSubmit').click(function(){
                    var adminUsername = $.trim($('#adminUsername').val());
                    var adminPassword = $.trim($('#adminPassword').val());
                    
                    // make a db call to see if userName and Password Match
                    
                        authenticate(adminUsername, adminPassword);
                });
                
    $.fn.flash_message = function(options) {
      
      options = $.extend({
        text: 'Done',
        time: 1000,
        how: 'before',
        class_name: ''
      }, options);
      
      return $(this).each(function() {
        if( $(this).parent().find('.flash_message').get(0) )
          return;
        
        var message = $('<span />', {
          'class': 'flash_message ' + options.class_name,
          text: options.text
        }).hide().fadeIn('fast');
        
        $(this)[options.how](message);
        
        message.delay(options.time).fadeOut('normal', function() {
          $(this).remove();
        });
        
      });
    };
                
                
                
                
 //option A
    $("form.productionLogin").submit(function(e){
        e.preventDefault();
    });
                
            });
        </script>
        <script src="js/app.js"></script>
    </body>
</html>