<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top __web-inspector-hide-shortcut__">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ToolingInventory.com</a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (!isAuthenticated) { %>
                <li><a href="/choose-a-plan">Try It Free</a></li>
                <li><a href="/login">Log in here</a></li>
            <% } else { %>
                        <p class="hello">Hello, <%= user.username %> from <%= user.companyName %>
                        <a class="btn btn-danger" href="/logout">Log Out</a>
                        <a class="btn btn-default" data-toggle="modal" data-target="#myModal">Admin</a>
            <% } %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
    <% if (!isAuthenticated) { %>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Cloud tooling inventory control software. <strong class="green">Store, manage &amp; Report.</strong></h1>
                <p>
                    ToolingInventory.com allows you to understand your machine shops tooling usage. With ToolingInventory.com you will be 
                    able to utalize LEAN manufacturing principales to not keep excess tooling inventory and insure that when
                    a job comes through you have the proper tooling to complete the job.
                </p>
                <p>
                    ToolingInventory.com also allows you to keep track of inventry shrinkage and trends. Understanding that your 
                    shop needs different tooling quantities during different times of the month and year will allow you to 
                    buy less tooling and keep your money invensting in your company, not on excess inventory. 
                </p>
                 <div class="row">
                     <div class="col-md-4">
                         <h2 class="text-center">Store</h2>
                         <img src="images/storage.jpg" class="img-responsive thumbnail img-center">
                     </div>
                     <div class="col-md-4">
                         <h2 class="text-center">Manage</h2>
                         <img src="images/managment.jpg" class="img-responsive thumbnail img-center">
                     </div>
                     <div class="col-md-4">
                         <h2 class="text-center">Report</h2>
                         <img src="images/report.jpg" class="img-responsive thumbnail img-center">
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6 col-md-offset-3">
                         <hr>
                     </div>
                 </div>
                 <div class="row quote-row">
                     <div class="col-md-12">
                         <p class="quote">
                             <strong>ToolingInventory.com</strong> has allowed us to compete with over seas manufactures by 
                             streamlining our inventory and allowing us to run leaner and more efficeient!
                             <br>
                             <strong>Robert Smith</strong> - Agency Compliance Services
                         </p>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6 col-md-offset-3">
                         <hr>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-4">
                         <p class="small-quote">
                             We are AMAZED with the impact ToolingInventory.com has had on our shop!<br>
                             <strong class="green">Nick James</strong> - Haven Manufacturing
                        </p>
                     </div>
                     <div class="col-md-4">
                         <p class="small-quote">
                             Looking to more accuratly keep track of tooling cost per job? CloudCrib.io is the
                             tool for you.<br>
                             <strong class="green">Dave Mullinix</strong> - Weldmonger
                        </p>
                     </div>
                     <div class="col-md-4">
                         <p class="small-quote">
                             Using ToolingInventory.com analytics we see tooling trends that we would never even have thought of.<br>
                             <strong class="green">Sandy Smith</strong> - Trusted Manufacturing
                         </p>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6 col-md-offset-3">
                         <hr>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6 col-md-offset-3">
                         <a href="/choose-a-plan" class="btn btn-success sign-up-btn">Try It Free!</a>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-8 col-md-offset-2">
                         <div class="video-container">
                             <iframe width="560" height="315" src="https://www.youtube.com/embed/Gkd_KHGTYvw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
<nav class="navbar navbar-inverse footer-navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ToolingInventory.com</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            
                <li><a href="/choose-a-plan">Sign Up</a></li>
                <li><a href="/login">Log in here</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <% }  %>
    <% if (isAuthenticated) { %>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8 hidden-xs">
                    <a href="/view-jobs-production" class="btn btn-default pull-right view-checkouts-btn">View Jobs</a>
                    <a href="/" class="btn btn-default pull-right view-checkouts-btn active">Tool List</a>
                    <!--<a href="/auto-order" class="btn btn-default pull-right ">Auto Order</a>-->
                </div>
            </div>
            <div class="row">
  <div class="panel tools-list-panel panel-default">
    <div class="panel-heading">Tool List</div>
    <div class="panel-body ">
        <div class="row">
                <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped tool-list-table">
                                <thead>
                                    <tr class="tool-list-heading">
                                        <td>Name</td>
                                        <td>Type</td>
                                        <td>Diameter</td>
                                        <td>Material</td>
                                        <!--<td>Brand</td>-->
                                        <td>Qty</td>
                                        <td class="text-center">Actions</td>
                                    </tr>
                                </thead>
                                <tbody>
                                     <% for (var i=0; i<tools.length; i++) {%>
                                     
                                    <tr>
                                        <td><a href="/view/?toolId=<%= tools[i]._id %>" class="table-link"><p class="table-value"> <%= tools[i].diameter %>" <%= tools[i].toolType %> <%= tools[i].toolTypeCustom %></p></a></td>
                                        <td><a href="/view/?toolId=<%= tools[i]._id %>" class="table-link"><p class="table-value"> <%= tools[i].toolType %> <%= tools[i].toolTypeCustom %> </p></a></td>
                                        <td><a href="/view/?toolId=<%= tools[i]._id %>" class="table-link"><p class="table-value"> <%= tools[i].diameter %>"</p></a></td>
                                        <td><a href="/view/?toolId=<%= tools[i]._id %>" class="table-link"><p class="table-value"> <%= tools[i].material %> <%= tools[i].toolMaterialCustom %></p></a></td>
                                        <!--<td><a href="/view/?toolId=<%= tools[i]._id %>" class="table-link"><p class="table-value"> <%= tools[i].brand %> <%= tools[i].toolBrandCustom %> </p></a></td>-->
                                        <td><a href="/view/?toolId=<%= tools[i]._id %>" class="table-link"><p class="table-value"> <%= tools[i].qty %> </p></a></td>
                                        <td class="text-center">
                                            <a class="btn btn-success  table-btn production-checkout-btn" href="/checkout/?toolId=<%= tools[i]._id %>">Checkout</a>
                                        </td>
                                        <!--
                                        <td>
    
                                        </td>
                                        -->
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div><!-- end table responsive-->
                    <% } %>
                </div>   
        </div>
    </div>
  </div>

            </div>
            
        </div>
    </div>
    
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog model-dialog-admin">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Admin Login</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label>Username:</label>
            <input id="adminUsername" class="form-control">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input id="adminPassword" class="form-control" type="password">
        </div>
        <a  class="btn btn-primary" id="adminSubmit">Submit</a>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                function authenticate(userName, password) {
                    var adminFormData = {
                        userName: userName,
                        password: password
                    }
                    $.ajax
                    ({
                        type: "POST",
                        //the url where you want to sent the userName and password to
                        url: '/adminAuthenticate',
                        dataType: 'json',
                        async: false,
                        //json object to sent to the authentication url
                        data: adminFormData,
                        success: function (returnObj) {
                
                            console.log(returnObj.isAuthenticated);
                            if (returnObj.isAuthenticated) {
                                window.location.href= '/';
                            } else {
                                window.location.href= '/production';
                            }
                        }
                    });
                }
                $('#adminSubmit').click(function(){
                    var adminUsername = $('#adminUsername').val();
                    var adminPassword = $('#adminPassword').val();
                    
                    // make a db call to see if userName and Password Match
                    
                        authenticate(adminUsername, adminPassword);
                        
         

                });
                
                
            });
        </script>
        <script src="js/app.js"></script>
        
        

        
    </body>
</html>