<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../js/bootstrap-switch.min.css" rel="stylesheet">
        <link href="../styles.css" rel="stylesheet">
    </head>
    <body >
    <nav class="navbar navbar-inverse navbar-fixed-top __web-inspector-hide-shortcut__">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ToolingInventory.com</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
              <p class="hello">Hello, <%= user.username %> from <%= user.companyName %>
              <a class="btn btn-danger" href="/logout">Log Out</a>
              <a class="btn btn-default" href="/production">Production</a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
            <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="/my-account" class="btn btn-primary table-btn user-nav-btn">My Account</a>
                    <a href="/toolsCSV" class="btn btn-default table-btn user-nav-btn">Download Tool List</a>
                    <a href="/checkoutsCSV" class="btn btn-default table-btn user-nav-btn">Download Tool Usage</a>
                </div>
                <div class="col-sm-6">
                    <a href="/add-tool" class="btn btn-default table-btn pull-right view-checkouts-btn ">Add Tool</a>
                    <a href="/view-checkouts" class="btn table-btn btn-default pull-right view-checkouts-btn ">View Checkouts</a>
                    <a href="/view-jobs" class="btn btn-default  table-btn pull-right view-checkouts-btn">View Jobs</a>
                    <a href="/view-operators" class="btn btn-default table-btn pull-right view-checkouts-btn">View Operators</a>
                    <a href="/" class="btn btn-default pull-right table-btn view-checkouts-btn ">Tool List</a>
                </div>
            </div>
                <div class="row settings-row edit-tool">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel-group">
                          <div class="panel panel-default">
                            <div class="panel-heading">Update Tool</div>
                            <div class="panel-body">
        
        <% if (updateSuccess) { %>
    
                    <div class="alert alert-success" role="alert">
                        <p class="text-center">Successfully Updated Tool</p>
                    </div>      

        <% } %>
                                <form action="" method="post">
                                <div class="form-group">
                                    <label><p>Tool Name:</p></label>
                                    <input class="form-control"value="<%= tool.toolName %>" name="toolName" required>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                    <label><p>Min Amount:</p></label>
                                    <input class="form-control" id="orderQty" value="<%= tool.autoOrderQty %>" name="autoOrderQty" type="number" min="0" required>          
                                        </div>
                                        <div class="col-md-6">
                                            <label class="auto-order-label">
                                                <p class="text-center">Auto Order</p>
                                            </label>
                                            <input class="form-control" id="auto-order-box" type="checkbox">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><p>Ideal Amount</p></label>
                                    <input class="form-control" name="idealAmount" value="<%= tool.idealAmount %>" id="idealQty" type="number" min="0" required>
                                </div>
                                <div class="form-group">
                                    <label><p>Qty:</p></label>
                                    <input type="number" class="form-control" name="qty" value="<%= tool.qty %>" min="0">
                                </div>
                                <input type="text" name="userId" class="hidden" value="<%= user._id %>">
                                <input type="text" name="toolId" class="hidden" value="<%= tool._id %>">
                                <input class="btn btn-primary" type="submit" value="Update Tool">
                                <a href="/" class="btn btn-default">Main Menu</a>
                            </form> 
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../js/bootstrap-switch.min.js"></script>
        <script src="../js/update-tool.js"></script>
    </body>
</html>