<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../styles.css" rel="stylesheet">
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top __web-inspector-hide-shortcut__">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ToolingInventory.com</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (!isAuthenticated) { %>
                <li><a href="/sign-up">Try It Free</a></li>
                <li><a href="/login">Log in here</a></li>
            <% } else { %>
                        <p class="hello">Hello, <%= user.username %> from <%= user.companyName %>
                        <a class="btn btn-danger" href="/logout">Log Out</a>
                        <a class="btn btn-default" href="/production">Production</a>
            <% } %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
    <% if (!isAuthenticated) { %>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Cloud tooling inventory control software. <strong class="green">Store, manage &amp; Report.</strong></h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non neque ac ex condimentum 
                    condimentum id id est. Vestibulum nec orci dolor. Vivamus nisi neque, ornare nec porta sed, 
                    accumsan a risus. Donec luctus ultrices euismod. In laoreet mi vitae tincidunt congue. Nunc 
                    varius massa nec enim accumsan, ac semper justo viverra. Fusce pharetra pharetra odio, et 
                    mattis dui pharetra id. Mauris ac ipsum purus. Aliquam eleifend mattis commodo. Sed fermentum
                    eu risus quis finibus. Integer non nisl ligula. In mattis eget elit quis elementum. Pellentes
                    que placerat velit vitae aliquam elementum. Suspendisse aliquam placerat augue et efficitur. 
                    Ut eget aliquam metus. Nam quis rutrum velit.
                </p>
                 <div class="row">
                     <div class="col-md-4">
                         <h2 class="text-center">Store</h2>
                         <img src="images/storage.jpg" class="img-responsive thumbnail img-center">
                     </div>
                     <div class="col-md-4">
                         <h2 class="text-center">Manage</h2>
                         <img src="images/managment.jpg" class="img-responsive thumbnail img-center">
                     </div>
                     <div class="col-md-4">
                         <h2 class="text-center">Report</h2>
                         <img src="images/report.jpg" class="img-responsive thumbnail img-center">
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6 col-md-offset-3">
                         <hr>
                     </div>
                 </div>
                 <div class="row quote-row">
                     <div class="col-md-12">
                         <p class="quote">
                             <strong>CloudCrib.io</strong> has allowed us to compete with over seas manufactures by 
                             streamlining our inventory and allowing us to run leaner and more efficeient!
                             <br>
                             <strong>Robert Smith</strong> - Agency Compliance Services
                         </p>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6 col-md-offset-3">
                         <hr>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-4">
                         <p class="small-quote">
                             We are AMAZED with the impact CloudCrib.io has had on our shop!<br>
                             <strong class="green">Nick James</strong> - Haven Manufacturing
                        </p>
                     </div>
                     <div class="col-md-4">
                         <p class="small-quote">
                             Looking to more accuratly keep track of tooling cost per job? CloudCrib.io is the
                             tool for you.<br>
                             <strong class="green">Dave Mullinix</strong> - Weldmonger
                        </p>
                     </div>
                     <div class="col-md-4">
                         <p class="small-quote">
                             Using CloudCrib.io's analytics we see tooling trends that we would never even have thought of.<br>
                             <strong class="green">Sandy Smith</strong> - Trusted Manufacturing
                         </p>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6 col-md-offset-3">
                         <hr>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6 col-md-offset-3">
                         <a href="/sign-up" class="btn btn-success sign-up-btn">Try It Free!</a>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-8 col-md-offset-2">
                         <div class="video-container">
                             <iframe width="560" height="315" src="https://www.youtube.com/embed/12rM7PztSDQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
</div>
<nav class="navbar navbar-inverse footer-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ToolingInventory.com</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            
                <li><a href="/sign-up">Sign Up</a></li>
                <li><a href="/login">Log in here</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <% }  %>
    <% if (isAuthenticated) { %>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="/my-account" class="btn btn-primary table-btn user-nav-btn">My Account</a>
                    <a href="/toolsCSV" class="btn btn-default table-btn user-nav-btn">Download Tool List</a>
                    <a href="/checkoutsCSV" class="btn btn-default table-btn user-nav-btn">Download Tool Usage</a>
                </div>
                <div class="col-sm-6">
                    <a href="/add-tool" class="btn btn-default table-btn pull-right view-checkouts-btn">Add Tool</a>
                    <a href="/view-checkouts" class="btn table-btn btn-default pull-right view-checkouts-btn active">View Checkouts</a>
                    <a href="/view-jobs" class="btn btn-default  table-btn pull-right view-checkouts-btn">View Jobs</a>
                    <a href="/view-operators" class="btn btn-default table-btn pull-right view-checkouts-btn">View Operators</a>
                    <a href="/" class="btn btn-default pull-right table-btn view-checkouts-btn ">Tool List</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default tools-list-panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-center">
                                    Checkouts List
                                </div>
                                <div class="col-md-4 text-center">
                                    <a href="/clear-checkouts" class="btn btn-danger pull-right" onclick="return confirm('Are you sure you want to clear checkouts?')">Clear Checkouts</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" id="checkouts">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="search form-control home-search" placeholder="Search" />
                                </div>
                            </div>
                            
            <div class="list">
                <% for (var i=0; i<checkouts.length; i++) {%>
                    <div class="row tools-row tools-row-admin">
                        <div class="col-md-4">
                            <p class="table-value table-btn-p name operator-name"><%= checkouts[i].toolName%></p>
                        </div>
                        <div class="col-md-2">
                            <p class="table-value table-btn-p  operator-name"><%= checkouts[i].operatorName%></p>
                        </div>
                        <div class="col-md-3">
                            <p class="table-value table-btn-p jobName operator-name"><%= checkouts[i].jobName%></p>
                        </div>   
                        <div class="col-md-2">
                            <p class="table-value table-btn-p  operator-name"><%= checkouts[i].checkoutDate.toLocaleDateString()%></p>
                        </div>
                        <div class="col-md-1">
                            <p class="table-value table-btn-p operator-name"><%= checkouts[i].checkoutQty%></p>
                        </div>
                    </div>
                <% } %>   
                                <!-- Go back to this hacky as f -->
                                <div style="display:none;">
                                  <!-- A template element is needed when list is empty, TODO: needs a better solution -->
                                  <li id="hacker-item">
                                   <h3 class="name"></h3>
                                   <p class="city"></p>
                                  </li>
                                </div>
            </div>
                        </div>
                    </div>

                    <% } %>
                </div>
            </div>
            
        </div>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/list.js/dist/list.min.js"></script>
        <script src="../js/app.js"></script>

        <script>
                
            var options = {
              valueNames: [ 'name', 'operatorName', 'jobName' ]
            };
            
            
            var userList = new List('checkouts', options);
        </script>
        
        

        
    </body>
</html>