<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../styles.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77516816-1', 'auto');
  ga('send', 'pageview');

</script>
    </head>
    <body class="app">
        <nav class="navbar navbar-default navbar-fixed-top __web-inspector-hide-shortcut__">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <!-- Logo here -->
                        <img src="./images/long-logo.png" class="img-responsive">
                    </a>
                </div>
                <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
          <ul class="nav navbar-nav navbar-right">
              <p class="hello">Hello, <%= user.username %> from <%= user.companyName %>
              <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">Admin</a>
          </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    <div class="container">
    <div class="container">
    <% if (isAuthenticated) { %>
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8 hidden-xs">
                    <a href="/view-jobs" class="btn btn-default pull-right view-checkouts-btn active">View Jobs</a>
                    <a href="/production" class="btn btn-default pull-right view-checkouts-btn">Tool List</a>
                    <!--<a href="/auto-order" class="btn btn-default pull-right ">Auto Order</a>-->
                </div>
            </div>
            <div class="row">
            
<div class="panel tools-list-panel panel-default">
    <div class="panel-heading">Jobs List</div>
    <div class="panel-body">
        <div id="jobs">
                             <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <div id="status-area">
                                    </div>
                                </div>
                            </div>   
                            <div class="row newsearch">
                                <div class="col-md-6">
                                    <form class="form-wrapper cf">
                                      	<input class="search production-search" type="text" placeholder="Search here..." required>
                                    	<span class="search-flag">Search</span>
                                    </form>
                                </div>
                            </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="tool-list-heading">
                                        <td>Job Name</td>
                                        <td>Job Id</td>
                                        <td>Company Name</td>
                                        <td>Qty Due</td>
                                        <td>Due Date</td>
                                        <td></td>
    
                                    </tr>
                                </thead>
                                <tbody class="list">
                                     <% for (var i=0; i<jobs.length; i++) {%>
                                     
                                    <tr>
                                        <td><p class="table-value name"> <%= jobs[i].jobName %></p></td>
                                        <td><p class="table-value"> <%= jobs[i].jobId %></p></td>
                                        <td><p class="table-value company"> <%= jobs[i].companyName %> </p></td>
                                        <td><p class="table-value"> <%= jobs[i].qtyDue %></p></td>
                                        <td><p class="table-value"> <%= jobs[i].dueDate.toLocaleDateString() %></p></td>
                                        <td>
                                        </td>
                                        
                                    </tr>
                                    <% } %>
                                </tbody>
                                    <!-- This is Strang -->
                                    <div style="display:none;">
                                      <!-- A template element is needed when list is empty, TODO: needs a better solution -->
                                      <tr id="hacker-item">

                                      </tr>
                                    </div>
                            </table>
                        </div>
    </div>
    </div>
</div>


                    <% } %>
                    
                </div>
            </div>
            
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog model-dialog-admin">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Admin Login</h4>
      </div>
      <form class="productionLogin">
      <div class="modal-body" id="admin-modal">
        <div class="form-group">
            <label>Username:</label>
            <input id="adminUsername" class="form-control">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input id="adminPassword" class="form-control" type="password">
        </div>
        <button type="submit" class="btn btn-primary" id="adminSubmit">Log In</button>
        <button type="button"  class="btn btn-default pull-right" data-dismiss="modal">Close</button>
      </div>
      </form>
     
    </div>

  </div>
</div>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/list.js/dist/list.min.js"></script>
        <script>
            $(document).ready(function(){
            
                function authenticate(userName, password) {
                    var adminFormData = {
                        userName: userName,
                        password: password
                    }
                    $.ajax
                    ({
                        type: "POST",
                        //the url where you want to sent the userName and password to
                        url: '/adminAuthenticate',
                        dataType: 'json',
                        async: false,
                        //json object to sent to the authentication url
                        data: adminFormData,
                        success: function (returnObj) {
                
                            console.log(returnObj.isAuthenticated);
                            if (returnObj.isAuthenticated) {
                                window.location.href= '/';
                            } else {
                                //window.location.href= '/production';
                                $('#myModal').modal('hide');
                                $('#status-area').flash_message({
                                    text: 'Wrong Username or Password!',
                                    how: 'append'
                                });
                            
                            }
                        }
                    });
                }
                $('#adminSubmit').click(function(){
                    var adminUsername = $.trim($('#adminUsername').val());
                    var adminPassword = $.trim($('#adminPassword').val());
                    
                    // make a db call to see if userName and Password Match
                    
                        authenticate(adminUsername, adminPassword);
                });
                
                $.fn.flash_message = function(options) {
      
      options = $.extend({
        text: 'Done',
        time: 1000,
        how: 'before',
        class_name: ''
      }, options);
      
      return $(this).each(function() {
        if( $(this).parent().find('.flash_message').get(0) )
          return;
        
        var message = $('<span />', {
          'class': 'flash_message ' + options.class_name,
          text: options.text
        }).hide().fadeIn('fast');
        
        $(this)[options.how](message);
        
        message.delay(options.time).fadeOut('normal', function() {
          $(this).remove();
        });
        
      });
    };
                
                $("form.productionLogin").submit(function(e){
                    e.preventDefault();
                });
                
            var options = {
              valueNames: [ 'name', 'company' ]
            };
            
            
            var userList = new List('jobs', options);
                
            });
        </script>
        <script src="../js/app.js"></script>
        <script>
            $(window).load(function() {
            	$(".loader").fadeOut("slow");
            })
        </script>
    </body>
</html>