<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles.css" rel="stylesheet">
    <link href="../bar-graph.css" rel="stylesheet">
    <link href="../bower_components/c3/c3.min.css" rel="stylesheet">
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-77516816-1', 'auto');
        ga('send', 'pageview');
    </script>
    <style>
        body {
            text-align: left;
        }
        
        .panel-default>.panel-heading {
            text-align: left;
        }
        
        .panel-heading .heading {
            margin-top: 0;
        }
        .strong {
            font-weight: bold;
            text-decoration: underline;
        }
        
        .carousel-example-generic {
            height: 696px;
        }
        .carousel-indicators {
            display: none !important;
        }
        .carousel-control {
            background: transparent;
            background-image: none !important;
            color: black;
        }
        .carousel-control:hover {
            color: grey;
        }
        .c3-chart-arcs-title {
            dominant-baseline: middle;
            font-size: 4.3em;
        }
    </style>
</head>

<body <%if(isAuthenticated) {%> class="authenticated"
    <% } %>>
        <nav class="navbar navbar-default navbar-fixed-top __web-inspector-hide-shortcut__  new-logo-app ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" href="/">
                        <!-- Logo here -->
                        <img src="../../images/long-logo.png" class="img-responsive">
                    </a>
                </div>
                <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <p class="hello">Hello, admin from Web Developer Ninja</p>
                        <a class="btn btn-sm btn-danger" href="/logout">Log Out</a>
                        <a class="btn btn-sm btn-primary" href="/production">Production</a>

                        <div class="row mobile-nav-admin">
                            <div class="col-md-4 col-md-offset-4">
                                <select class="form-control" onchange="window.location.href=this.value"> 
                <option data-icon="glyphicon-heart" value="/">Tool List</option>
                <option data-icon="glyphicon-heart" value="/add-tool">Add Tool</option>
                <option data-icon="glyphicon-heart" value="/view-checkouts">View Checkouts</option>
                <option data-icon="glyphicon-heart" value="/job-app">View Jobs</option>
                <option data-icon="glyphicon-heart" value="/view-operators">View Operators</option>
                <option data-icon="glyphicon-heart" value="/my-account">My Account</option>
                <option data-icon="glyphicon-heart" value="/toolsCSV">Download Tool List
                </option><option data-icon="glyphicon-heart" value="/checkoutsCSV">Download Tool Usage</option>
            </select>
                            </div>
                        </div>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>

            <div class="container admin-fixed-header-nav">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/my-account" class="btn btn-default table-btn user-nav-btn">My Account</a>
                        <a href="/toolsCSV" class="btn btn-default table-btn user-nav-btn">Download Tool List</a>
                        <a href="/checkoutsCSV" class="btn btn-default table-btn user-nav-btn">Download Tool Usage</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/add-tool" class="btn btn-default table-btn pull-right view-checkouts-btn">Add Tool</a>
                        <a href="/my-crib" class="btn table-btn btn-default pull-right  view-checkouts-btn">My Crib</a>
                        <a href="/view-operators" class="btn btn-default table-btn pull-right view-checkouts-btn">View Operators</a>
                        <a href="/view-jobs" class="btn btn-default  table-btn pull-right view-checkouts-btn active">View Jobs</a>
                        <a href="/" class="btn btn-default pull-right table-btn view-checkouts-btn ">Tool List</a>
                    </div>
                </div>
            </div>

        </nav>
        <% if (isAuthenticated) { %>
            <div class="container" id="job-data" data-job-id="<%= jobNumber %>">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default tools-list-panel">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="heading">
                                            <%= job[0].companyName %>
                                        </h2>
                                        <h4><span class="strong">Job Number:</span>
                                            <%= jobNumber %>
                                        </h4>
                                        <h4><span class="strong">Job Name:</span>
                                            <%= job[0].jobName %>
                                        </h4>
                                    </div>
                                    <div class="col-md-3">
                                        <h4><span class="strong">Contact:</span>
                                            <%= job[0].contactName %>
                                        </h4>
                                        <h4><span class="strong">Email:</span>
                                            <%= job[0].contactEmail %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" id="jobs">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        
                                        
                                        <div id="carousel-example-generic" data-interval="false" class="carousel slide" data-ride="carousel">
                                          <!-- Indicators -->
                                          <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                          </ol>
                                        
                                          <!-- Wrapper for slides -->
                                          <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <div class="chart-crib" id="chart"></div>
                                            </div>
                                            <div class="item">
                                                <div class="chart-crib" id="chart-1"></div>
                                            </div>
                                          </div>
                                        
                                          <!-- Controls -->
                                          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                          </a>
                                          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start View Checkouts By Job -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default tools-list-panel">
                            <div class="panel-body">
                                <div id="users">
                                    <div class="row newsearch">
                                        <div class="col-md-6">
                                            <form class="form-wrapper cf">
                                                <input class="search production-search" type="text" placeholder="Search here..." required>
                                                <span class="search-flag text-center">Search</span>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4">
                                            <div id="status-area">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row admin-header hidden-xs hidden-sm">
                                        <div class="col-md-5">
                                            Tool
                                        </div>
                                        <div class="col-md-3">
                                            Operator
                                        </div>
                                        <div class="col-md-2">
                                            Date
                                        </div>
                                        <div class="col-md-1">
                                            Qty
                                        </div>
                                    </div>
                                    <div class="list">
                                        <% for (var i=0; i<checkouts.length; i++) {%>
                                            <div class="row tools-row">
                                                <div class="col-md-5">
                                                    <p class="table-value name">
                                                        <%= checkouts[i].toolName %>
                                                    </p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p class="table-value operator">
                                                        <%= checkouts[i].operatorName %>
                                                    </p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p class="table-value date">
                                                        <%= checkouts[i].checkoutDate.toLocaleDateString()  %>
                                                    </p>
                                                </div>
                                                <div class="col-md-1">
                                                    <p class="table-value">
                                                        <%= checkouts[i].checkoutQty %>
                                                    </p>
                                                </div>
                                            </div>
                                            <% } %>
                                                <!-- Go back to this hacky as f -->
                                                <div style="display:none;">
                                                    <!-- A template element is needed when list is empty, TODO: needs a better solution -->
                                                    <li id="hacker-item">
                                                        <h3 class="name"></h3>
                                                        <p class="city"></p>
                                                    </li>
                                                </div>
                                    </div>

                                </div>
                                <!-- end table responsive-->
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div id="myModal" class="modal fade bar-graph" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">
                                <%= job[0].companyName %> - Job Name:
                                    <%= job[0].jobName %>
                            </h3>
                        </div>
                        <div class="modal-body">
                            <!--
                        SVG BAR GRAPH HERE 
                -->
                            <!--<svg class="chart"></svg>-->
                            <div id="error"></div>
                            <div id="step-5"></div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <div id="myModal1" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                <%= job[0].companyName %> -
                                    <%= job[0].jobName %>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tr>
                                    <td><strong>Company Name:</strong></td>
                                    <td>
                                        <%= job[0].companyName %>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Job Name:</strong></td>
                                    <td>
                                        <%= job[0].jobName %>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Qty Due:</strong></td>
                                    <td>
                                        <%= job[0].qtyDue %>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Contact Name:</strong></td>
                                    <td>
                                        <%= job[0].contactName %>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Contact Email:</strong></td>
                                    <td>
                                        <%= job[0].contactEmail %>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <script src="../bower_components/jquery/dist/jquery.min.js"></script>
            <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="../bower_components/d3/d3.min.js"></script>
            <script src="../bower_components/c3/c3.min.js"></script>
            <script src="../bower_components/list.js/dist/list.min.js"></script>
            <script src="../../graph.js"></script>

            <script>
                $(document).ready(function() {
                    var options = {
                        valueNames: ['name', 'operator', 'job', 'date']
                    };

                    var userList = new List('users', options);
                    var jobNumber = $('#job-data').data('job-id');
                    $.get("/view-job-tooling-data/?jobId=" + jobNumber, function(data) {
                        var checkouts = data;
                        var toolsName = [];
                        var toolsGraphArr = [];
                        var graphTitle = 'Job: ' + jobNumber;
                        
                        for(var i=0; i<checkouts.length; i++) {
                          var toolExists = false;
                          for(var b=0; b<toolsGraphArr.length; b++) {
                            if(toolsGraphArr[b][0] == checkouts[i].toolName) {
                              toolExists = true;
                              toolsGraphArr[b][1] += checkouts[i].checkoutQty;
                            }
                          }
                          if(!toolExists) {
                            toolsGraphArr.push([checkouts[i].toolName, checkouts[i].checkoutQty]);
                          }
                        }

                        var chart = c3.generate({
                            bindto: '#chart',
                            data: {
                                columns: toolsGraphArr,
                                type: 'donut'
                            },
                            legend: {
                                show: true
                            },
                            donut: {
                                title: graphTitle
                            },
                            size: {
                                height: 600
                            }
                        });
                        
                        var chart1 = c3.generate({
                            bindto: '#chart-1',
                            data: {
                                columns: toolsGraphArr,
                                type: 'bar'
                            },
                            legend: {
                                show: true
                            },
                            donut: {
                                title: graphTitle
                            },
                            size: {
                                height: 600
                            }
                        });

                        $('.loader-1').fadeOut();
                        $('.carousel').carousel({
                            interval: false
                        });
                    });

                });
            </script>

</body>

</html>