<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../styles.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77516816-1', 'auto');
  ga('send', 'pageview');

</script>
    <style>
        body {
            padding-top: 95px;
        }
    </style>
    </head>
    <body>
    <div class="loader">
        <img src="./images/gear-t.png" class="img-responsive">
    </div>
<nav class="navbar navbar-default navbar-fixed-top __web-inspector-hide-shortcut__  new-logo-app ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              <!-- Logo here -->
              <img src="../../images/long-logo.png" class="img-responsive">
          </a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            
                        <p class="hello">Hello, admin from Web Developer Ninja</p>
                        <a class="btn btn-sm btn-danger" href="/logout">Log Out</a>
                        <a class="btn btn-sm btn-primary" href="/production">Production</a>
                        
        <div class="row mobile-nav-admin">
        <div class="col-md-4 col-md-offset-4">
            <select class="form-control" onchange="window.location.href=this.value"> 
                <option data-icon="glyphicon-heart" value="/">Tool List</option>
                <option data-icon="glyphicon-heart" value="/add-tool">Add Tool</option>
                <option data-icon="glyphicon-heart" value="/view-checkouts">View Checkouts</option>
                <option data-icon="glyphicon-heart" value="/view-operators">View Operators</option>
                <option data-icon="glyphicon-heart" value="/view-jobs">View Jobs</option>
                <option data-icon="glyphicon-heart" value="/my-account">My Account</option>
                <option data-icon="glyphicon-heart" value="/toolsCSV">Download Tool List
                </option><option data-icon="glyphicon-heart" value="/checkoutsCSV">Download Tool Usage</option>
            </select>
        </div>
    </div>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      
      <div class="container admin-fixed-header-nav">
            <div class="row">
                <div class="col-sm-6">
                    <a href="/my-account" class="btn btn-default table-btn user-nav-btn">My Account</a>
                    <a href="/toolsCSV" class="btn btn-default table-btn user-nav-btn">Download Tool List</a>
                    <a href="/checkoutsCSV" class="btn btn-default table-btn user-nav-btn">Download Tool Usage</a>
                </div>
                <div class="col-sm-6">
                    <a href="/add-tool" class="btn btn-default table-btn pull-right view-checkouts-btn">Add Tool</a>
                    <a href="/view-checkouts" class="btn table-btn btn-default pull-right view-checkouts-btn">View Checkouts</a>
                    <a href="/view-operators" class="btn btn-default table-btn pull-right view-checkouts-btn">View Operators</a>
                    <a href="/view-jobs" class="btn btn-default  table-btn pull-right view-checkouts-btn">View Jobs</a>
                    <a href="/" class="btn btn-default pull-right table-btn view-checkouts-btn active">Tool List</a>
                </div>
            </div>          
      </div>
    
    </nav>
    <div class="container">
            <div class="container">
                <div class="row settings-row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel-group">
                          <div class="panel panel-default">
                            <div class="panel-heading">View Tool</div>
                            <div class="panel-body">
                                <form action="" method="post">

                                <div class="form-group">
                                    <label>Tool Name:</label>
                                    <input class="form-control" name="toolName" value="<%= tool.toolName %>" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Qty:</label>
                                    <input type="number" class="form-control" name="qty" value="<%= tool.qty %>" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Auto Order Qty</label>
                                    <input type="number" class="form-control" name="autoOrderQty" value="<%= tool.autoOrderQty %>" min="0" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Ideal Qty</label>
                                    <input type="number" class="form-control" name="idealAmount" value="<%= tool.idealAmount %>" min="0" readonly>
                                </div>
                                <input type="text" name="userId" class="hidden" value="<%= user._id %>">
                                <a class="btn btn-primary pull-right table-btn pull-left" href="/checkout/?toolId=<%= tool._id %>">Checkout</a>
                                <a href="/remove/?toolId=<%= tool._id %>" class="btn btn-danger table-btn pull-right">Remove Tool</a>
                                <a href="/" class="btn btn-default pull-right table-btn">Tool List</a>
                            </form> 
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../js/app.js"></script>
        <script>
            $(window).load(function() {
            	$(".loader").fadeOut("slow");
            })
        </script>
    </body>
</html>