<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../styles.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77516816-1', 'auto');
  ga('send', 'pageview');

</script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top __web-inspector-hide-shortcut__">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ToolingInventory.com</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
              <p class="hello">Hello, <%= user.username %> from <%= user.companyName %>
              <a class="btn btn-danger" href="/logout">Log Out</a>
              <a class="btn btn-default" href="/production">Production</a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
            <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="/my-account" class="btn btn-primary user-nav-btn">My Account</a>
                    <a href="/toolsCSV" class="btn btn-default user-nav-btn">Download Tool List</a>
                    <a href="/checkoutsCSV" class="btn btn-default user-nav-btn">Download Tool Usage</a>
                    <a href="/" class="btn btn-default view-checkouts-btn active hidden-xl hidden-lg hidden-md hidden-sm user-nav-btn">Main Menu</a>
                    <a href="/view-checkouts" class="btn btn-default view-checkouts-btn hidden-xl hidden-lg hidden-md hidden-sm user-nav-btn">View Checkouts</a>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <a href="/add-tool" class="btn btn-primary pull-right view-checkouts-btn">Add Tool</a>
                    <a href="/view-checkouts" class="btn btn-default pull-right view-checkouts-btn">View Checkouts</a>
                    <a href="/view-jobs" class="btn btn-default pull-right view-checkouts-btn">View Jobs</a>
                    <a href="/view-operators" class="btn btn-default pull-right view-checkouts-btn">View Operators</a>
                    <a href="/" class="btn btn-default pull-right view-checkouts-btn">Tool List</a>
                    <!--<a href="/auto-order" class="btn btn-default pull-right ">Auto Order</a>-->
                </div>
            </div>
                <div class="row settings-row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel-group">
                          <div class="panel panel-default">
                            <div class="panel-heading">View Tool</div>
                            <div class="panel-body">
                                <form action="" method="post">

                                <div class="form-group">
                                    <label>Tool Name:</label>
                                    <input class="form-control" name="toolName" value="<%= tool.toolName %>" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Qty:</label>
                                    <input type="number" class="form-control" name="qty" value="<%= tool.qty %>" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Auto Order Qty</label>
                                    <input type="number" class="form-control" name="autoOrderQty" value="<%= tool.autoOrderQty %>" min="0" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Ideal Qty</label>
                                    <input type="number" class="form-control" name="idealAmount" value="<%= tool.idealAmount %>" min="0" readonly>
                                </div>
                                <input type="text" name="userId" class="hidden" value="<%= user._id %>">
                                <a class="btn btn-primary pull-right table-btn pull-left" href="/checkout/?toolId=<%= tool._id %>">Checkout</a>
                                <a href="/remove/?toolId=<%= tool._id %>" class="btn btn-danger table-btn pull-right">Remove Tool</a>
                                <a href="/" class="btn btn-default pull-right table-btn">Tool List</a>
                            </form> 
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../js/app.js"></script>
    </body>
</html>